.jumbotron{
	text-align: center;
	background-image: url('../image/427668.jpg');
	background-size: cover;
	color: white;
}

.product{
	border: 1px solid #f8f9fa;
	position: relative;
	width: 250px;
	height: 250px;
	float: left;
	background-color: white;
}
